@using Download.Controllers
@model IReadOnlyList<Download.Controllers.ApiController.FolderContainer>
@{
    ViewData["Title"] = "Home Page";
    <h3 class="pageTitle">Box API Handler For @ViewData["AppName"]</h3>
}

<div id="react-app">Loading...</div>

Root Folder<br/>

@foreach (var entry in Model) {
    <b>ID: </b> <a href="/getFolderInfo/{@entry.Id}">@entry.Id</a><br/>
    <b>Name: </b> @entry.Name<br/>
    <b>Type: </b> @entry.Type<br /><br/>
}
