@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>

@section scripts {
    <script src="~/dist/react.js" asp-append-version="true"></script>
    <script src="~/dist/boot.js" asp-append-version="true"></script>
}
